.stages {
	@extend .cf;

	display: flex;
	flex-direction: column;

	position: relative;
	z-index: 0;

	background-color: $clr-paper;

	@extend .borderShadow;

	@extend .containerWidth;


	@media ( min-width: $mda-big ) {
		flex-direction: row;
	}
}

.stage {
	$stagePadding: 6%;
	$stage-icon-size: 100px;

	position: relative;
	z-index: 0;

	padding: $stage-icon-size / 3;
	padding-left: $stage-icon-size * 0.9;

	@media ( min-width: $mda-big ) {
		float: left;

		width: (100% / 3);
		padding-left: $stage-icon-size * 1.5;
	}

	&:after {

		content: '';

		position: absolute;
		top: 50%;
		left: -$stage-icon-size/3;
		margin-top: -$stage-icon-size/2;

		width: $stage-icon-size;
		height: $stage-icon-size;

		background-size: 100px;

		@media ( min-width: $mda-big ) {
			left: $stage-icon-size / 4;
		}
	}

	&__title {
		font-size: 1.8em;
	}

	&__teaser {
		font-size: 1em;
		margin-top: .5em;

		/*	change top margin after headings */
		.stage__title + & {
			margin-top: 0.2em;
		}
		/**/
	}

	&-design {
		background: $clr-design-2;

		&:after {
			background-image: url( "http://brookjordan.uk/beta/i/i-design.png" );
		}
	}

	&-build {
		background: $clr-build-2;

		&:after {
			background-image: url( "http://brookjordan.uk/beta/i/i-build.png" );
		}
	}

	&-setup {
		background: $clr-setup-2;

		&:after {
			background-image: url( "http://brookjordan.uk/beta/i/i-setup.png" );
		}
	}
}