$clr-body: #f3eada;
$clr-shadow: #e0ceae;
$clr-txt-shadow: #d8c29a;
$clr-paper: #faf7f2;

$clr-setup: #6baee6;
$clr-setup-2: #eef1f2;

$clr-design: #d287ea;
$clr-design-2: #f4e9f2;

$clr-build: #a8d658;
$clr-build-2: #eff3dd;

$clr-txt-body: #4b3f14;


$mda-big: 1200px;