.builtSitesContainer {
	background-color: $clr-paper;
	margin-top: 50px;

	@extend .cf;
}

.builtSites {
	@extend .containerWidth;

	padding: 40px 0;

	@extend .cf;
}

.builtSite {
	position: relative;
	float: left;
	height: 250px;
	//filter: saturate( .2 ) brightness( .5 );

	background: 50% 0 no-repeat;
	background-size: cover;

	cursor: pointer;

	transition: transform .2s, border .2s;



	&-1 {
		width: 100%;
	}

	&-2 {
		width: 100%;
	}

	&-3 {
		width: 100%;
	}

	&-4 {
		width: 100%;
	}

	@media ( min-width: 500px ) {
		&-1 {
			width: (100%)/2;
		}

		&-2 {
			width: (100%)/2;
		}

		&-3 {
			width: (100%)/2;
		}

		&-4 {
			width: (100%)/2;
		}
	}

	@media ( min-height: 600px ) and ( min-width: 1000px ) {
		height: 500px;

		&-1 {
			width: 100%;
		}

		&-2 {
			width: 100%;
		}

		&-3 {
			width: (100%)/2;
		}

		&-4 {
			width: (100%)/2;
		}
	}

	@media ( min-height: 600px ) and ( min-width: 1300px ) {
		&-1 {
			width: 100%;
		}

		&-2 {
			width: (100%)/3;
		}

		&-3 {
			width: (100%)/3;
		}

		&-4 {
			width: (100%)/3;
		}
	}



	&__info {
		position: absolute;
		bottom: 0;
		left: 0;

		width: 100%;
		padding: 10px 20px;

		background-color: transparentize( $clr-body, .1 );

		.builtSite:nth-child(2n) & {
			background-color: transparentize( $clr-paper, .1 );
		}

		&__copy {
			margin: 5px 0;
		}

		&__link {
			display: block;

			margin-bottom: 0;

			color: $clr-txt-link;
			text-align: right;
		}

		@media ( min-height: 600px ) and ( min-width: 1000px ) {
			&__copy {
				margin: 10px 0;
			}
		}
	}
}

.builtSitesSafetyText {
	clear: both;

	padding: 10px 20px;

	font-size: 12px;
}