$main-head-height: 46px;

.mainHeadContainer {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;

	background-image: linear-gradient(
		to top,
		transparentize( $clr-body, 1 ),
		transparentize( $clr-body, .1 ) 5px
	);

	transition: top .2s ease-in;

	&--hidden {
		top: -100px;

		transition: top .2s ease-out;
	}
}
.mainHead {
	position: relative;
	height: $main-head-height + 5px;

	margin: 0 auto;

	@extend .cf;
	//@extend .containerWidth;
}
.menuToggle {
	position: relative;
	z-index: 10;
	float: right;

	width: 46px;
	height: $main-head-height;

	cursor: pointer;

	background: no-repeat url("../images/b-mc.png");
	background-position: 100% 50%;
	background-size: (46px)*7 46px;

	animation: to-menu .3s steps(6) 1;

	&--open {
		background-position: 0% 50%;
		animation: to-close .3s steps(6) 1;
	}
}

@keyframes to-close {
  from {
    background-position: 100% 50%;
  }
  to {
    background-position: 0% 50%;
  }
}

@keyframes to-menu {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

.headMenu {
	position: absolute;
	top: 0;
	right: -200px;

	padding-right: 60px;
	padding-left: 10px;

	@extend .borderShadow;

	background: $clr-shadow;

	line-height: $main-head-height;

	opacity: 0;

	transition: right .2s ease-in, opacity .2s ease-in;

	pointer-events: none;

	@extend .cf;

	&__item {
		display: inline-block;

		position: relative;
		z-index: 0;

		line-height: 46px;
		padding: 0 10px;

		img {
			height: 46px;
    		vertical-align: top;
		}

		&:after {
			content: '';

			position: absolute;
			top: 0;
			left: 50%;
			z-index: -1;

			width: 0;
			height: 100%;

			background-color: $clr-body;

			transition-property: width, left;
			transition-duration: .2s;
		}

		.NO-touch & {
			&:hover {

				text-decoration: none;

				&:after {
					left: 0;

					width: 100%;
				}
			}
		}

		.HAS-touch & {
			background-color: $clr-body;
		}
	}

	.menuToggle--open + & {
		right: 0;

		opacity: 1;

		transition: right .2s ease-out, opacity .2s ease-out;

		pointer-events: auto;
	}
}

.headLogo {
	float: left;

	height: 65px;
	width: auto;
	margin: 5px;

	transition-property: height, margin;
	transition-duration: .2s;

	&--fit {
		height: 38px;
		margin: 3px;
	}
}